numpy
pillow
torch
torchvision
torchaudio
transformers
accelerate
matplotlib
build
pytrec_eval==0.5
setuptools
pandas
tqdm
easydict
datasets
huggingface_hub
python-dotenv
sentence-transformers
gdown
argparse
rank-bm25
nltk
func_timeout
scipy
ijson
jcc
